#footing {
  font-size: 1rem;
}
#footing a:link {
  text-decoration: none;
}
#main-pic-profile {
  padding-left: 0;
  padding-right: 0;
}
#wide-ratio {
  aspect-ratio: 32/9;
  object-fit: cover;
}
#buttons-rounded {
  border-radius: 20px;
}
.transparent {
  background-color: transparent !important;
}
:root {
  background-color: #ececec;
}
.App {
  background-color: #ececec;
}
.bg-linkedin {
  background-color: #ececec !important;
}
.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.super-rounded {
  border-radius: 50%;
}
.bottom-left {
  position: absolute;
  bottom: -35%;
  left: 16px;
}
.no-p-no-m {
  margin: 0 !important;
  padding: 0 !important;
}
.bg-hald-dark {
  background-color: #d4d4d2 !important;
}
.list-group-item {
  border: none !important;
}
.mini-logos {
  max-width: 25px !important;
  margin: 0.5rem;
}
#navbar {
  width: 100% !important;
  background-color: white !important;
}
.smaller-text {
  font-size: 14px !important;
}
.job-search-profile {
  width: 85% !important;
}
.custom-darker-bg {
  background-color: #e9e5df;
}
