body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f2ee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#NavbarTop {
  background-color: #ffffff;
  color: rgba(102, 102, 102);
  border: 1 px solid grey;
  min-height: 7vh;
}

#Navbarlogo {
  height: 20px;
}

#Trypremium {
  color: #b09f89;
  text-decoration: underline;
}

#MoreButton {
  font-weight: bold;
  width: 20%;
  border-radius: 20px;
}

#AddProfile {
  color: blue;
  background-color: white;
  font-weight: bold;
  border-radius: 20px;
  
}


#OpenToButton {
  font-weight: bold;
  border-radius: 20px;
}

#ScrollNavbar {
  background-color: #ffffff; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}